@import "tailwindcss";

@theme {
    --m3-page-width: 95%;
    --m3-padding-md: 2em;
    --m3-spacer-md: 0.8em;
    --m3-radius-md: 1em;

    --color-m3-primary: #97d945;
    --color-m3-onPrimary: #1f3700;
    --color-m3-primaryContainer: #64a104;
    --color-m3-onPrimaryContainer: #192f00;
    --color-m3-secondary: #b1d188;
    --color-m3-onSecondary: #1f3700;
    --color-m3-secondaryContainer: #365016;
    --color-m3-onSecondaryContainer: #a3c37b;
    --color-m3-tertiary: #5ddcb0;
    --color-m3-onTertiary: #003828;
    --color-m3-tertiaryContainer: #05a47c;
    --color-m3-onTertiaryContainer: #002f21;
    --color-m3-error: #ffb4ab;
    --color-m3-onError: #690005;
    --color-m3-errorContainer: #93000a;
    --color-m3-onErrorContainer: #ffdad6;
    --color-m3-background: #11150b;
    --color-m3-onBackground: #e0e4d4;
    --color-m3-surface: #11150b;
    --color-m3-onSurface: #e0e4d4;
    --color-m3-surfaceVariant: #424937;
    --color-m3-onSurfaceVariant: #c2cab2;
    --color-m3-outline: #8c947e;
    --color-m3-outlineVariant: #424937;
    --color-m3-scrim: #000000;
    --color-m3-inverseSurface: #e0e4d4;
    --color-m3-inverseOnSurface: #2e3227;
    --color-m3-inversePrimary: #3f6900;
    --color-m3-surfaceDim: #11150b;
    --color-m3-surfaceBright: #363b2f;
    --color-m3-surfaceContainerLowest: #0b0f07;
    --color-m3-surfaceContainerLow: #191d13;
    --color-m3-surfaceContainer: #1d2117;
    --color-m3-surfaceContainerHigh: #272b21;
    --color-m3-surfaceContainerHighest: #32362b;
    --color-m3-primaryMediumContrast: #acf05a;
    --color-m3-onPrimaryMediumContrast: #172b00;
    --color-m3-primaryContainerMediumContrast: #64a104;
    --color-m3-onPrimaryContainerMediumContrast: #000000;
    --color-m3-secondaryMediumContrast: #c6e79c;
    --color-m3-onSecondaryMediumContrast: #172b00;
    --color-m3-secondaryContainerMediumContrast: #7c9a57;
    --color-m3-onSecondaryContainerMediumContrast: #000000;
    --color-m3-tertiaryMediumContrast: #75f3c5;
    --color-m3-onTertiaryMediumContrast: #002c1f;
    --color-m3-tertiaryContainerMediumContrast: #05a47c;
    --color-m3-onTertiaryContainerMediumContrast: #000000;
    --color-m3-errorMediumContrast: #ffd2cc;
    --color-m3-onErrorMediumContrast: #540003;
    --color-m3-errorContainerMediumContrast: #ff5449;
    --color-m3-onErrorContainerMediumContrast: #000000;
    --color-m3-backgroundMediumContrast: #11150b;
    --color-m3-onBackgroundMediumContrast: #e0e4d4;
    --color-m3-surfaceMediumContrast: #11150b;
    --color-m3-onSurfaceMediumContrast: #ffffff;
    --color-m3-surfaceVariantMediumContrast: #424937;
    --color-m3-onSurfaceVariantMediumContrast: #d8dfc7;
    --color-m3-outlineMediumContrast: #adb59e;
    --color-m3-outlineVariantMediumContrast: #8b937e;
    --color-m3-scrimMediumContrast: #000000;
    --color-m3-inverseSurfaceMediumContrast: #e0e4d4;
    --color-m3-inverseOnSurfaceMediumContrast: #272b21;
    --color-m3-inversePrimaryMediumContrast: #2f5100;
    --color-m3-surfaceDimMediumContrast: #11150b;
    --color-m3-surfaceBrightMediumContrast: #42463a;
    --color-m3-surfaceContainerLowestMediumContrast: #050803;
    --color-m3-surfaceContainerLowMediumContrast: #1b1f15;
    --color-m3-surfaceContainerMediumContrast: #25291f;
    --color-m3-surfaceContainerHighMediumContrast: #303429;
    --color-m3-surfaceContainerHighestMediumContrast: #3b3f34;
    --color-m3-primaryHighContrast: #cfff95;
    --color-m3-onPrimaryHighContrast: #000000;
    --color-m3-primaryContainerHighContrast: #93d542;
    --color-m3-onPrimaryContainerHighContrast: #050e00;
    --color-m3-secondaryHighContrast: #d9fbae;
    --color-m3-onSecondaryHighContrast: #000000;
    --color-m3-secondaryContainerHighContrast: #adcd84;
    --color-m3-onSecondaryContainerHighContrast: #050e00;
    --color-m3-tertiaryHighContrast: #b7ffe0;
    --color-m3-onTertiaryHighContrast: #000000;
    --color-m3-tertiaryContainerHighContrast: #59d8ac;
    --color-m3-onTertiaryContainerHighContrast: #000e08;
    --color-m3-errorHighContrast: #ffece9;
    --color-m3-onErrorHighContrast: #000000;
    --color-m3-errorContainerHighContrast: #ffaea4;
    --color-m3-onErrorContainerHighContrast: #220001;
    --color-m3-backgroundHighContrast: #11150b;
    --color-m3-onBackgroundHighContrast: #e0e4d4;
    --color-m3-surfaceHighContrast: #11150b;
    --color-m3-onSurfaceHighContrast: #ffffff;
    --color-m3-surfaceVariantHighContrast: #424937;
    --color-m3-onSurfaceVariantHighContrast: #ffffff;
    --color-m3-outlineHighContrast: #ebf3da;
    --color-m3-outlineVariantHighContrast: #bec6ae;
    --color-m3-scrimHighContrast: #000000;
    --color-m3-inverseSurfaceHighContrast: #e0e4d4;
    --color-m3-inverseOnSurfaceHighContrast: #000000;
    --color-m3-inversePrimaryHighContrast: #2f5100;
    --color-m3-surfaceDimHighContrast: #11150b;
    --color-m3-surfaceBrightHighContrast: #4d5245;
    --color-m3-surfaceContainerLowestHighContrast: #000000;
    --color-m3-surfaceContainerLowHighContrast: #1d2117;
    --color-m3-surfaceContainerHighContrast: #2e3227;
    --color-m3-surfaceContainerHighHighContrast: #393d32;
    --color-m3-surfaceContainerHighestHighContrast: #44483c;
}

html {
    @apply bg-m3-surfaceContainerLowestMediumContrast;
    @apply text-m3-onSurface;
}
